@import "partials/mixins";
@import "partials/variables";

/* Reset */
a {
  text-decoration: none;
  font-family: "Kodchasan";
  color: $beige;
  width: 20px;
  height: 20px;
}
ul, ol, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
}
ul, ol {
  list-style: none;
}

/* General settings */
h1, h4{
  font-family: "Lobster";
  color: $beige;
}
h1{
  text-shadow: 1px 3px rgba(0, 0, 0, 0.5);
}
h4{
  font-size: 24px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5) ;
}
header{
  background: $dark-red;
}
.dropdown{
    display:none;
}
/* om 70-talet och rabatt */
.about-70s{
    background-image: url("/Casa-di-Morelli/src/wallpaper2.jpg"); 
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-family: "Kodchasan";
    color: $dark-red;
    border: 2px solid $dark-red;

    img{
        height:168px;
        width:225px;
        margin: 5px 0;
    }
  
    h3{
        opacity: 1.0;
        margin-bottom: 0;
    }
    p{
        opacity: 1.0;
        margin-top: 0;
    }
    .discount1{
        font-size: 40px;
        font-weight: bolder;
        margin-bottom: 0;
    }
    .discount2{
        font-weight: bold;
        font-size: 14px;
    }
  
}

.background-div{
        background: $beige;
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5px 0 5px;
        padding:0 5px 0 5px ;
        opacity: 0.89;
        border-radius: 5px;
    }
    .popular{
        font-family: "Lobster";
        color: white;
        text-shadow:1px 1px $dark-red;
        background: $dark-green;
        text-align: center;
        padding: 5px 5px;
        margin: 0;
        border: 1px solid $dark-red;
    }
    // kläder på startsidan
.clothes{
    background:$beige;
    display: flex;
    flex-direction: column;
    .clothes-group{
        display: flex;
        justify-content: space-around;
    
    .small-image{
        img{
            height:189px;
            width:130px;
            margin-top: 5px;
        }
        p{
            font-family: "Kodchasan";
            color: $dark-red;
            margin: 5px;
        }
         .price-info{
            font-weight: bolder;
            font-size: 14px;
        }
        button{
            background: $dark-green;
            color: white;
            font-family:"Kodchasan";
            border-radius: 20px;
            font-weight: bolder;
            padding: 10px 10px;
            border: $dark-green;
            filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));  
            position: relative;
            left: 80px;
            bottom: 50px;
        }
    }
}

   
    .big-image{
        align-self: center;
        img{
            height:360px;
            width:262px;
            margin-top:5px;
        
        }
        p{
            font-family: "Kodchasan";
            color: $dark-red;
            margin: 5px;

        }
         .price-info{
            font-family: "Kodchasan";
            color: $dark-red;
            margin: 5px;
            font-weight: bolder;
            font-size: 14px;
        }
        button{
            background: $dark-green;
            color: white;
            font-family:"Kodchasan";
            border-radius: 20px;
            font-weight: bolder;
            padding: 10px 10px;
            border: $dark-green;
            filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));  
            position: relative;
            left: 200px;
            bottom: 50px;
        }
    }
}

body{
    background: $beige;
    margin:0;
   
}
//Om oss
h2{
    font-family: "lobster";
    color: $dark-red;
    text-align: center;
    font-weight: lighter;
    background: $beige;
}
.about-info{
    font-family: "kodchasan";
    color: $dark-red;
    text-align: center;
    p{
        font-size: 14px;
    }
}
.staff{
    display: flex;
    flex-direction: column;
    align-items: center;
    .person{
        display: flex;
        flex-direction: column;
        align-items: center;

    .staff-name{
        font-family: "lobster";
        color: $dark-red;
        text-align: center;
        font-size: 18px;
    }
    img{
        height:144px;
        width:215px;
    }
    p{
        font-family: "kodchasan";
        font-size: 14px;
        text-align: center;
        color: $dark-red;
    }
}

}

/* Footer */
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding: 30px 40px;

  h4 {
    margin: 0 0 30px;
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-self: stretch;

  img {
    height: 38px;
  }
}

.background-div{
        background: $beige;
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5px 0 5px;
        padding:0 5px 0 5px ;
        opacity: 0.8;
    }

a{
  font-family: "Kodchasan";
  color: $beige;
}
footer{
  background: $dark-green;
}

body{
    background: $beige;
}

/* Footer */
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding: 30px 40px;
  h4 {
    margin: 0 0 30px;
  }
}
.navigation {
  align-self: flex-start;
  padding-bottom: 90px;
  li {
  padding-bottom: 30px;
  }
}
.social-media {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  img {
    height: 38px;
    &:hover {
      -webkit-filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));
    filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));  
    }
  }
}

.hus {
  width: 40px;
  height: 40px;
   
}

/*kontakt mobile style*/
.content1 {
  text-align: center;
  background: wheat;
}

.p-element {
  background: chartreuse;
  text-decoration: underline;
}

.content2 {
  text-align: center;
}