/* Reset */
a {
  text-decoration: none;
}

ul,
ol,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

/* General settings */
h1,
h4 {
  font-family: "Lobster";
  color: #FFE2B2;
}

h4 {
  font-size: 24px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

a {
  font-family: "Kodchasan";
  color: #FFE2B2;
}

footer {
  background: #8A8635;
}

body {
  background: #FFE2B2;
  margin: 0;
}

button {
  background: #8A8635;
  color: white;
  font-family: "Kodchasan";
  border-radius: 20px;
  font-weight: bolder;
  padding: 10px 10px;
  border: #8A8635;
  -webkit-filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));
          filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));
  position: relative;
}

/* Navbar */
.header {
  background: #892300;
}

.header h1 {
  margin: 0;
  padding-bottom: 0.7rem;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
}

.navbar {
  padding-top: 0.7rem;
}

.hamburgare-icon {
  width: 20px;
  height: 20px;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.navbar-links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #D06224;
}

.navbar-links li {
  padding: 1rem;
  border-bottom: 2px solid #892300;
}

.navbar-links a {
  font-family: "Lobster";
  font-size: 24px;
  text-shadow: 0 0 2px #892300;
  color: white;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* om 70-talet och rabatt */
.about-70s {
  background-image: url("/src/wallpaper2.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  font-family: "Kodchasan";
  color: #892300;
  border: 2px solid #892300;
}

.about-70s img {
  height: 168px;
  width: 225px;
  margin: 5px 0;
}

.about-70s h3 {
  opacity: 1;
  margin-bottom: 0;
}

.about-70s p {
  opacity: 1;
  margin-top: 0;
}

.about-70s .discount1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 0;
}

.about-70s .discount2 {
  font-weight: bold;
  font-size: 14px;
}

.background-div {
  background: #FFE2B2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
  opacity: 0.89;
  border-radius: 5px;
}

.popular {
  font-family: "Lobster";
  color: white;
  text-shadow: 1px 1px #892300;
  background: #8A8635;
  text-align: center;
  padding: 5px 5px;
  margin: 0;
  border: 1px solid #892300;
}

.clothes {
  background: #FFE2B2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clothes .clothes-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clothes .clothes-group .small-image img {
  height: 189px;
  width: 130px;
  margin-top: 5px;
}

.clothes .clothes-group .small-image p {
  font-family: "Kodchasan";
  color: #892300;
  margin: 5px;
}

.clothes .clothes-group .small-image .price-info {
  font-weight: bolder;
  font-size: 14px;
}

.clothes .clothes-group .small-image button {
  left: 80px;
  bottom: 50px;
}

.clothes .big-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.clothes .big-image img {
  height: 360px;
  width: 262px;
  margin-top: 5px;
}

.clothes .big-image p {
  font-family: "Kodchasan";
  color: #892300;
  margin: 5px;
}

.clothes .big-image .price-info {
  font-family: "Kodchasan";
  color: #892300;
  margin: 5px;
  font-weight: bolder;
  font-size: 14px;
}

.clothes .big-image button {
  left: 200px;
  bottom: 50px;
}

h2 {
  font-family: "lobster";
  color: #892300;
  text-align: center;
  font-weight: lighter;
  background: #FFE2B2;
}

.about-info {
  font-family: "kodchasan";
  color: #892300;
  text-align: center;
}

.about-info p {
  font-size: 14px;
}

.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staff .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staff .person .staff-name {
  font-family: "lobster";
  color: #892300;
  text-align: center;
  font-size: 18px;
}

.staff .person img {
  height: 144px;
  width: 215px;
}

.staff .person p {
  font-family: "kodchasan";
  font-size: 14px;
  text-align: center;
  color: #892300;
}

/* Footer */
.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  padding: 30px 40px;
}

.bottom h4 {
  margin: 0 0 30px;
}

.navigation {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 90px;
}

.navigation li {
  padding-bottom: 30px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.social-media img {
  height: 38px;
}

.social-media img:hover {
  -webkit-filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));
  filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));
}

/*kontakt mobile style*/
.hus {
  width: 140px;
  height: 100px;
}

.kontakt-img {
  width: 50px;
  /*fixa funkar ej*/
  height: 50px;
}

.map-img {
  width: 60px;
  height: 50px;
}

.kontakt-oss {
  border: 2px solid #892300;
  border-radius: 3px;
  padding: 0px 40px 0px 40px;
  display: block;
}

/*square 1*/
.content1 {
  font-family: "lobster";
  text-align: center;
  height: 600px;
  background: #D06224;
  border-radius: 0px;
  position: relative;
  margin: 20px;
  padding: 20px;
  box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
  -moz-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
  line-height: 80%;
}

.kontakt-under {
  text-decoration: underline;
  font-family: "lobster";
}

.p-element {
  text-decoration: underline;
}

/*square 2*/
.content2 {
  font-family: "lobster";
  text-align: center;
  height: 400px;
  background: #D06224;
  border-radius: 0;
  position: relative;
  margin: 20px;
  box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
  -moz-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
}

.user-input {
  font-family: 'lobster';
}

::-webkit-input-placeholder {
  color: #D06224;
}

:-ms-input-placeholder {
  color: #D06224;
}

::-ms-input-placeholder {
  color: #D06224;
}

::placeholder {
  color: #D06224;
}

#choose-question, #name-input, #email-input, #text-input {
  font-family: 'lobster';
  border-radius: 5px;
  margin-top: 10px;
  margin: 5px;
  padding: 10px;
  background: #FFE2B2;
  color: #892300;
  border: none;
  border-radius: 5px;
  width: 90%;
  font-family: 'lobster';
  font-size: 14px;
  font-weight: bold;
}

#choose-question {
  margin-top: 25px;
}

/*recensioner- mobile*/
.wallpaper {
  background-image: url("/src/wallpaper.jpg");
  background-size: cover;
}

.recension-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recension-wrapper h2 {
  padding: 0px 40px 0px 40px;
  background: #FFE2B2;
  border: solid 2px #892300;
  border-radius: 3px;
}

.recension-wrapper .recension {
  margin: 20px;
  background-color: #D06224;
  color: #FFE2B2;
  box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
  -moz-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recension-wrapper .recension .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.recension-wrapper .recension .customer .iconify {
  font-size: 50px;
}

.recension-wrapper .recension .customer h5 {
  font-family: "Kodchasan";
}

.recension-wrapper .recension .rating {
  margin: 15px;
}

.recension-wrapper .recension .rating .fa-star {
  color: #892300;
}

.recension-wrapper .recension .rating .checked {
  color: #FFE2B2;
}

.recension-wrapper .recension .rating p {
  margin: 0px;
  font-family: "kodchasan";
  font-size: 14px;
}

.recension-wrapper .skriv-recension {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.recension-wrapper .skriv-recension h3 {
  font-family: "lobster";
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.recension-wrapper .skriv-recension .iconify {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.recension-wrapper .skriv-recension .input-container input, .recension-wrapper .skriv-recension .input-container textarea {
  background: #FFE2B2;
  color: #892300;
  border: none;
  margin: 10px;
  padding: 5px;
  width: 90%;
  border-radius: 5px;
  font-family: "kodchasan";
  font-size: 14px;
  font-weight: bold;
}

.recension-wrapper .skriv-recension .input-container input::-webkit-input-placeholder, .recension-wrapper .skriv-recension .input-container textarea::-webkit-input-placeholder {
  color: #892300;
}

.recension-wrapper .skriv-recension .input-container input:-ms-input-placeholder, .recension-wrapper .skriv-recension .input-container textarea:-ms-input-placeholder {
  color: #892300;
}

.recension-wrapper .skriv-recension .input-container input::-ms-input-placeholder, .recension-wrapper .skriv-recension .input-container textarea::-ms-input-placeholder {
  color: #892300;
}

.recension-wrapper .skriv-recension .input-container input::placeholder, .recension-wrapper .skriv-recension .input-container textarea::placeholder {
  color: #892300;
}

div.stars-rating {
  margin-bottom: 20px;
  margin-top: 20px;
}

div.stars-rating input.star {
  display: none;
}

div.stars-rating label.star {
  float: right;
  padding: 10px;
  font-size: 30px;
  color: #892300;
  -webkit-transition: all .2s;
  transition: all .2s;
}

div.stars-rating input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FFE2B2;
  -webkit-transition: all .25s;
  transition: all .25s;
}

div.stars-rating input.star-5:checked ~ label.star:before {
  color: #FFE2B2;
  text-shadow: 0 0 20px #892300;
}

div.stars-rating label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
/*# sourceMappingURL=style.css.map */