@import "partials/mixins";
@import "partials/variables";

/* Reset */
a {
  text-decoration: none;
}
ul,
ol,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,
ol {
  list-style: none;
}

/* General settings */
.logo-link,
h4 {
  font-family: "Lobster";
  color: $beige;
}
h4 {
  font-size: 24px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
a {
  font-family: "Kodchasan";
  color: $beige;
}
footer {
  background: $dark-green;
}

body {
  background: $beige;
  margin: 0;
}
button {
  background: $dark-green;
  color: white;
  font-family: "Kodchasan";
  border-radius: 20px;
  font-weight: bold;
  padding: 10px;
  border: $dark-green;
  filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.3));
  position: relative;
}
/* Navbar */
.header {
  background: $dark-red;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
 .logo-parent{
  text-align: center;
   
  .logo-link {
    margin: 0;
    padding-bottom: 0.7rem;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
    @include for-desktop {
      padding: 0;
    }
  }
 }
}

.navbar {
  padding-top: 0.7rem;
  position: relative;
}
.hamburgare-icon {
  width: 20px;
  height: 20px;
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  @include for-desktop {
    display: none;
  }
}
.navbar-links {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: $orange;
  @include for-desktop {
    display: flex;
    flex-direction: row;
    background-color: $dark-red;
  }
  li {
    padding: 1rem;
    border-bottom: 2px solid $dark-red;
    @include for-desktop {
      padding: 0 10px 8px 10px;
    }
  }
  a {
    font-family: "Lobster";
    font-size: 1.3rem;
    text-shadow: 0 0 2px $dark-red;
    color: white;
    @include for-desktop {
      color: $beige;
    }
    &.active {
      background: $dark-green;
      border-radius: 30px;
      padding: 2px 10px;
      margin: 0 5px 0 5px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      text-shadow: none;
    }
  }
  li:nth-of-type(3){
    @include for-desktop {
      margin-left: auto;
    }
  }
}
.shopping-cart {
  img {
    display: none;
    @include for-desktop {
      display: block;
      position: absolute;
      top: -36px;
      right: 15px;
      height: 30px;
    }
  }
  span {
    @include for-desktop {
      display: none;
    }
  }
}
.active-toggle {
  display: flex;
}
main {
  /*   Push down so navbar doesn't cover it */
    margin-top: 50px;
    @include for-desktop{
      margin-top: 75px;
    }
  }
/* Aside om 70-talet och rabatt */
.about-70s {
  @include flex-column-center;
  align-items: center;
  padding: 30px 20px;
  font-family: "Kodchasan";
  color: $dark-red;
  border: 2px solid $dark-red;
  padding-bottom: 0px;
  &::before {
    content: "";
    background-image: url("/src/wallpaper2.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -5;
  }
  @include for-desktop{
    justify-content: flex-start;
    width: 33%;
    position: fixed;
    height: 100%;
    z-index: -2;
    box-sizing: border-box;
  }
  .discount-image {
    width: 225px;
    margin: 5px 0;
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    @include for-desktop{
      align-self: flex-end;
      margin-right: 20px;
    }
  }
  .discount1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .discount2 {
    font-size: 14px;
  }
}
.background-div {
  @include flex-column-center;
  align-items: center;
  background: $beige;
  padding: 0 15px 15px 15px;
  opacity: 0.89;
  border-radius: 5px;
}

// kläder på startsidan
.product-list {
  @include for-desktop {
    margin-left: 33%;
    padding: 30px;
  }
}
.popular {
  color: white;
  font-size: 23px;
  text-shadow: 1px 1px $dark-red;
  background: $dark-green;
  text-align: center;
  padding: 5px 5px;
  margin: 0;
  border: 1px solid $dark-red;
  @include for-desktop{
    margin-bottom: 20px;
  }
}
.clothes-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px 8px;
  background: $beige;
  @include for-desktop {
    padding: 0;
    gap: 35px;
  }
  .card-item {
    position: relative;
    /* Shows two items per row with gap*/
    flex: 1 0 calc(50% - 8px);
    @include for-desktop {
      flex: 1 0 calc(50% - 35px);
    }
    img {
      height: auto;
      width: 100%;
      border-radius: 3px;
    }
    p {
      @include for-desktop {
        display: inline-block;
        margin-top: 19px;
        font-size: 18px;
      } 
    }
  }
/*   Every 5th product takes full width, starting from the 3rd */
  .card-item:nth-child(5n-2) {
    flex: 1 0 100%;
    margin: 20px 0;
    /* Reset layout to show 2 items per row for desktop */
    @include for-desktop {
      flex: 1 0 calc(50% - 35px);
      margin: unset;
    }
  }
}
.startpage-main p {
  font-family: "Kodchasan";
  color: $dark-red;
  margin: 5px;
}
.price-info {
  font-weight: bold;
  font-size: 13px;
}
.buy-btn {
  right: 0;
  bottom: 2px;
  position: absolute;
  padding: 13px 15px;
  border-radius: 30px;
  filter: drop-shadow(0 3px 2px rgba(34, 34, 34, 0.4));
  @include for-desktop{
    padding: 13px 20px;
  }
}
//Om oss
.about-h2{
  border: 2px solid $dark-red;
  border-radius: 3px;
  margin: 20px 20px;
  @include for-desktop{
    display: none;
  }
}
h2 {
  font-family: "lobster";
  color: $dark-red;
  text-align: center;
  font-weight: lighter;
  background: $beige;
 @include for-desktop{
   font-size: 36px;

 }
}

.about-info {
  @include for-desktop{

    margin: 100px 41px 22px 41px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(35, 35, 35, 0.7);
  }
  background: $beige;
  border: 2px solid $orange;
  font-family: "kodchasan";
  color: $dark-red;
  text-align: center;
  margin: 10px 20px;
  h3{
    @include for-desktop{
      font-family: "lobster";
      font-size: 36px;
      font-weight: lighter;
    }
  }
  p {
    font-size: 14px;
    @include for-desktop{
      font-size: 18px;
    }
  }

}
.about-article-background{
  background: $beige;
  border: 2px solid $orange;
  margin: 10px 20px;
  box-shadow: 4px 4px 5px 0px rgba(35, 35, 35, 0.7);
  @include for-desktop{
    margin: 40px 41px 22px 41px;
  }
}
.staff {
  @include flex-column-center;
  @include for-desktop{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .person {
    @include flex-column-center;
    width: 220px;
    @include for-desktop{
    width: 280px; 
    margin:10px 30px;
    }
    .staff-name {
      font-family: "lobster";
      color: $dark-red;
      text-align: center;
      font-size: 18px;
      @include for-desktop{
        font-size: 24px;
      }
    }
    img {
      height: 144px;
      width: 215px;
      @include for-desktop{
        height: 187px;
        width: 279px;
        
      }
    }
    p {
      font-family: "kodchasan";
      font-size: 14px;
      text-align: center;
      color: $dark-red;
      @include for-desktop{
        font-size: 18px;
      }
    }
  }
}

/* Footer */
.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  padding: 30px 40px;
  margin-top: 100px;
  @include for-desktop{
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding-top: 50px;
  }
}
.bottom h4 {
  margin: 0 0 30px;
  @include for-desktop{
   position: absolute;
   left: 45%;
  }
}
.navigation {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 90px;
  @include for-desktop{
    display:flex;
    padding-bottom: 0;

    width:35%;
    justify-content: space-between;
    margin-top: 5px;
  }
}

.navigation li {
  padding-bottom: 30px;
  overflow-wrap: anywhere;
}

.navigation li:hover {
  -webkit-filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));
  filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));
  font-weight: bold;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
 @include for-desktop{
align-self: unset;
width:35%;
margin-bottom: 6px;
 }
}

.social-media img {
  height: 38px;
}

.social-media img:hover {
  -webkit-filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));
  filter: drop-shadow(0 5px 5px rgba(34, 34, 34, 0.603));
}

/*kontakt mobile style*/
.kontakt-oss{
  @include for-desktop{
    background: $beige;
    border: 2px solid $dark-red;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  border: 2px solid $dark-red;
  border-radius: 2px;
  margin-left: 18px;
  margin-right: 18px;
}
.hus {
  width: 140px;
  height: 100px;
}
.kontakt-img {
  width: 50px; 
  height: 50px;
  color: $dark-red;
}
.map-img {
  width: 60px;
  height: 50px;
  color: $dark-red;
}
.about-background {
  background-image: url("/src/wallpaper.jpg");
}

.content1 {
  font-family: "lobster";
  text-align: center;
  height: 600px;
  background: $beige;
  border: 2px solid $orange;
  border-radius: 0px;
  position: relative;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px 0px rgba(35, 35, 35, 0.7);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(35, 35, 35, 0.7);
  -moz-box-shadow: 4px 4px 5px 0px rgba(35, 35, 35, 0.7);
  line-height: 80%;
  p{
    color: $dark-red;
  }
}


.kontakt-under {
  text-decoration: underline;
  font-family: "lobster";
}

.p-element {
  text-decoration: none;
  font-weight: bold;
}

.content2 {
  font-family: "lobster";
  text-align: center;
  height: 400px;
  background: $beige;
  border: 2px solid $orange;
  border-radius: 0;
  position: relative;
  margin: 20px;
  box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
    -moz-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
}
.user-input {
  font-family: 'lobster';
}
::placeholder {
  color: $dark-red;
}

#choose-question, #name-input, #email-input, #text-input {
  font-family: 'lobster';
  border-radius: 5px;
  margin-top: 10px;
  margin: 5px;
  padding: 10px;
  background: white;
  color: $dark-red;
  border: 1px solid $orange;
  border-radius: 5px;
  width: 90%;
  font-family: 'lobster';
  font-size: 14px;
  font-weight: bold; 
}

#choose-question {
  margin-top: 25px;
}
.kontakt-para{
  color: $dark-red;
  @include for-desktop{
    font-size: 18px;
  }
}

/*kontakt dekstop*/
@media (min-width: 550px) {
  .kontakt-wrapper {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px; 
  }
}

/*recensioner- */
.wallpaper {
  background-image: url("/src/wallpaper.jpg");
  background-size: cover;
  @include for-desktop{
    background: url("/src/wallpaper.jpg") no-repeat fixed top;
  }
}
.recension-wrapper {
  @include flex-column-center;
  h2 {
    padding: 0px 40px 0px 40px;
    background: $beige;
    border: solid 2px $dark-red;
    border-radius: 3px;
  }
  .recension {
    margin: 20px;
    background-color: $beige;
    color: $dark-red;
    box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
    -moz-box-shadow: 4px 4px 5px 0px rgba(34, 34, 34, 0.7);
    display: flex;
    max-width: 500px;
    width: -webkit-fill-available;
    border-radius: 4px;
    border: solid 1px $dark-red;
    .customer {
      @include flex-column-center;
      margin: 15px;
      max-width: 15%;
      .iconify {
        font-size: 50px;
      }
      h5 {
        font-family: "Kodchasan";
        text-align: center;
      }
    }
    .rating {
      margin: 15px;
      overflow-wrap: anywhere;
      .fa-star {
        color: $beige;  

      }
      .checked {
        color: $dark-red;

        opacity: 30%;
      }
      .checked {
        color: $dark-red;
        opacity: 1;
      }
      p {
        margin-top: 5px;
        font-family: "kodchasan";
        font-size: 14px;
      }
    }
  }
  .skriv-recension {
    height: 450px;
    @include flex-column-center;
    padding: 15px;
    margin-bottom: 80px;
    h3 {
      font-family: "lobster";
    }
    .iconify{
        align-self: flex-end;
    }
    .input-container {
      input, textarea {

        background: #fff8eb;

        color: $dark-red;
        border: 1px solid $dark-red;
        margin: 10px;
        padding: 5px;
        width: 90%;
        border-radius: 5px;
        font-family: "kodchasan";
        font-size: 14px;
        font-weight: bold;        
        &::placeholder{
            color:$dark-red;
            font-family: "lobster";
        }
      }
    }
  }
}
/* desktop */
.recensioner{
    @include for-desktop{
        display:flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        
    }
}
/* star rating user input */

div.stars-rating {
    margin-bottom: 20px;
    margin-top: 20px;
  input.star { display: none; }
  label.star {
      float:right;
    padding: 10px;
    font-size: 30px;
    color: $dark-red;
    transition: all .2s;
  }
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: $dark-red;
    transition: all .25s;
  }
  input.star-5:checked ~ label.star:before {
    color: $dark-red;
    text-shadow: 0 0 20px $dark-red;
  }
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }
}

